<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Adrestia Cov</title>
  </head>
  <body>
    <div class="container">
      <h3>Hello, this is Adrestia code coverage!</h3>
      <p>
        Each enpoint can go with:
      </p>
      <ul>
        <li>/enpoint/avg</li>
        <li>/enpoint/top-level-definitions</li>
        <li>/enpoint/alternatives</li>
        <li>/enpoint/expressions</li>
      </ul>

      <h4>Enpoints:</h4>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Endpoint</th>
            <th scope="col">Badge</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/cardano-transactions">/cardano-transactions</a></td>
            <td><img src="https://img.shields.io/endpoint?url=https://adrestia-coverage.herokuapp.com/cardano-transactions&style=for-the-badge" /></td>
          </tr>
          <tr>
            <td><a href="/cardano-coin-selection">/cardano-coin-selection</a></td>
            <td><img src="https://img.shields.io/endpoint?url=https://adrestia-coverage.herokuapp.com/cardano-coin-selection&style=for-the-badge" /></td>
          </tr>

        </tbody>
      </table>

      <footer class="footer mt-auto py-3">
        <div class="container">
          <span class="text-muted">
            <a href="https://github.com/piotr-iohk/adrestia-coverage">github</a>
        </div>
      </footer>
    </div>

  </body>
</html>
